#blu {
  background-color: #161b30;
  height: auto;
  width: auto;
}

#welcome {
  font-size: 30px;
  color: #dee3f7;
  padding-top: 30vh;
}

.lexend-reg {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.center {
  text-align: center;
  vertical-align: middle;
}
