body {
  margin: 0;
  padding: 0;
}

#blu {
  background-size: cover;
  background: rgba(0, 0, 0, 20%) url("./assets/background.png") no-repeat;
  color: #dee3f7;
  height: auto;
  width: auto;
}

#welcome {
  font-size: 30px;
  text-shadow: 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000;
}

#q1 {
  font-size: 22px;
  text-shadow: 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000, 1px 1px 10px #000;
}

.lexend-reg {
  font-family: "Lexend", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.center {
  text-align: center;
  vertical-align: middle;
}

.prevent {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#y, #n{
  font-size: 20px;
  border: 2px solid inherit;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px 15px;
  background-color: #222222;
  box-shadow: 1px 1px 15px #000, 1px 1px 15px #000;
  text-decoration: none;
  color: #dee3f7;
}

#spread {
  padding: 60px 0 0 60px;
}

/* #icon {
  box-shadow: 1px 1px 15px #000, 1px 1px 15px #000;
}*/

.box {
  border: 1px solid inherit;
  border-radius: 25px;
  width: 44.80vw;
  padding: 15vh 0 28vh 0;
  background-color: rgba(34, 33, 33, 50%);
  box-shadow: 1px 1px 10px rgb(18, 14, 14);
}


.container {
  padding-top: 3vh;
  padding-left: 10vh;
  justify-items: left;
  vertical-align: middle;
}

/* Please make the maximizable set to false!! (note for @devonk15) */

.column {
  float: left;
  padding: 10px 0 0 10px;
}

.link1 {
  text-decoration: none;
  color: #dee3f7;
}

#linkDiv1 {
  padding-left: 15px;
  padding-top: 14px;
  font-size: 19px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}